.editor-content::v-deep {
  p {
    margin-bottom: 0.75rem;
  }

  code {
    padding: 0;
    background-color: unset;

    &[class*="language-"] {
      box-shadow: none;

      &::before {
        content: none;
      }

      &::after {
        content: none;
      }
    }
  }

  blockquote {
    p {
      margin-bottom: 2px !important;
    }
  }

  .ck-content {
    .table {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }

}
