html {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
  background: #ccc !important;
  cursor: pointer !important;
}

::-webkit-scrollbar-thumb {
  background: dodgerblue !important;
  cursor: pointer !important;
}

::-webkit-scrollbar-track {
  background: #ccc !important;
  cursor: pointer !important;
}

::-webkit-scrollbar:hover {
  background: #ddd !important;
}

::-webkit-scrollbar-thumb:hover {
  background: #1c83ec !important;
}

::-webkit-scrollbar-track:hover {
  background: #ddd !important;
}

.verticalalign-middle {
  vertical-align: middle !important;
}

.verticalalign-text-bottom {
  vertical-align: text-bottom !important;
}
