html {
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 7px !important;
    height: 7px !important;
    background: #ccc !important;
    cursor: pointer !important;

    &:hover {
      background: #bbb !important;
    }
  }

  &::-webkit-scrollbar-thumb {
    background: #999 !important;
    cursor: pointer !important;

    &:hover {
      background: #888 !important;
    }
  }

  &::-webkit-scrollbar-track {
    background: #ccc !important;
    cursor: pointer !important;

    &:hover {
      background: #bbb !important;
    }
  }
}

.verticalalign-baseline {
  vertical-align: baseline !important;
}

.verticalalign-middle {
  vertical-align: middle !important;
}

.verticalalign-top {
  vertical-align: top !important;
}

.verticalalign-text-top {
  vertical-align: text-top !important;
}

.verticalalign-text-bottom {
  vertical-align: text-bottom !important;
}

.verticalalign-bottom {
  vertical-align: bottom !important;
}
