@import "~assets/style/common/colors"

.article-page-item
  margin-bottom: 30px
  border-bottom: 1px solid $border-color-gray
  padding-bottom: 20px

.link-title
  cursor pointer
  &:hover
    color $title-hover
  &.link-title-popular
    overflow  hidden
    text-overflow ellipsis
    white-space nowrap
